<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:insert="products.html :: navbar"> </div>

<div class="container-sm" >
    <div class="form-group column col-lg-4 mx-auto">
        <div class="mt-4"><h3>Add product</h3></div>
        <form autocomplete="off" action="#" th:action="@{/addProduct}"
              th:object="${user}" method="post" class="form-horizontal"
              role="form">
            <div class="mb-3">
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="validation-message"></label>
                <input type="text" th:field="*{name}" placeholder="Name"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                       class="validation-message"></label>
                <input type="text" th:field="*{description}" placeholder="Description"
                       class="form-control"/>
            </div>

            <div class="mb-3">
                <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                       class="validation-message"></label>
                <input type="text" th:field="*{quantity}" placeholder="Quantity"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                       class="validation-message"></label>
                <input type="text" th:field="*{price}" placeholder="Price"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <label th:if="${#fields.hasErrors('color')}" th:errors="*{color}"
                       class="validation-message"></label>
                <input type="text" th:field="*{color}" placeholder="Color"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <label th:if="${#fields.hasErrors('starRating')}" th:errors="*{starRating}"
                       class="validation-message"></label>
                <input type="text" th:field="*{starRating}" placeholder="Star Rating"
                       class="form-control"/>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-light ">Add product</button>
            </div>
        </form>


    </div>
</div>

</body>
</html>