<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:insert="products.html :: navbar"> </div>

<div th:fragment="loginForm">
<div class="container-sm" >
    <div class="form-group column col-lg-4 mx-auto">

        <div class="mt-4"><h3>Log in</h3></div>

        <form th:action="@{/login}" method="POST" class="form-signin">
            <div class="mb-3">
                <label for="user_name" class="form-label">Email address</label>
                <input type="email" class="form-control" id="user_name" name="user_name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" aria-describedby="passwordHelpBlock">
            </div>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-light ">Log in</button>
            </div>
        </form>

        <div class="d-flex justify-content-center mt-4">
            <a th:href="@{'/registration'}" class="btn btn-light">You don't have account? Register!</a>
        </div>

        <div align="center" th:if="${param.error}">
            <h7 style="color: #FF1C19;">User Name or Password invalid, please verify</h7>
        </div>

    </div>
</div>
</div>

</body>
</html>