<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:insert="products.html :: navbar"> </div>

<div class="col-xs-1 text-center">
    <div class="mx-auto" th:unless="${isEmpty}">
        <div class="mt-4 col-md-12"></div>
        <div>
            <h4>THANK YOU FOR YOUR ORDER!</h4>
        </div>
        <div>
            <h5 th:text="|Your order ID: ${order.getId()} |"></h5>
        </div>
    </div>
</div>



</body>
</html>