<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:insert="products.html :: navbar"> </div>

<div class="container-sm" >
    <div class="form-group column col-lg-4 mx-auto">
        <div class="mt-4"><h3>Registration form</h3></div>
        <form autocomplete="off" action="#" th:action="@{/registration}"
              th:object="${user}" method="post" class="form-horizontal"
              role="form">
            <div class="mb-3">
                <label style="color: #FF1C19;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                       class="validation-message"></label>
                <input type="text" th:field="*{firstName}" placeholder="First Name"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <label style="color: #FF1C19;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                       class="validation-message"></label>
                <input type="text" th:field="*{lastName}" placeholder="Last Name"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <label style="color: #FF1C19;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="validation-message"></label>
                <input type="email" th:field="*{email}" placeholder="E-mail"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <label style="color: #FF1C19;"
                       th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       class="validation-message"></label>
                <input type="password" th:field="*{password}"
                       placeholder="Password" class="form-control"/>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-light ">Register</button>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
        <h5><span class="text-success" th:utext="${successMessage}"></span></h5>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a th:href="@{'/account'}" class="btn btn-light">Already have an account? Log in!</a>
        </div>
    </div>
</div>

</body>
</html>