<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:insert="products.html :: navbar"> </div>

<div class="col-xs-1 text-center">
    <div class="mx-auto" th:unless="${isEmpty}">
    <div class="mt-4 col-md-12"></div>
    <div>
        <h4>PRODUCTS IN CART:</h4>
    </div>
    <div class="mt-4 col-md-12"></div>
    <div class="card-deck column col-lg-4  mx-auto">
        <div th:each="product : ${products}" >
            <div class="card text-center" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F6b%2F3f%2F6b3f5f51e4db457eaa3740ebade9321d85fd732f.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.key.name}"></h5>
                            <p class="card-text" th:text="|${product.key.price} $|"></p>
                            <h6 class="card-title" th:text="|${product.value} items|"></h6>
                            <form th:action="@{/cart/delete}" method="post">
                                <input type="hidden" th:value="${product.key.id}" name="id"/>
                                <button class="btn btn-light " type="submit">Remove from cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    <hr>
        <div>
            <h5 th:text="|Total ${total} $|"></h5>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a th:href="@{'/cart/clear'}" class="btn btn-light">Clear cart</a>
            <a th:href="@{'/cart/checkout'}" class="btn btn-light">Checkout</a>
        </div>

        <div sec:authorize="isAnonymous()">
            <a th:href="@{'/cart/clear'}" class="btn btn-light">Clear cart</a>
            <a th:href="@{'/account'}" class="btn btn-light">Checkout</a>
        </div>


</div>
<div class="mt-4 col-md-12"></div>
<div  th:if="${isEmpty}">
    <h4>YOUR SHOPPING CART IS EMPTY!</h4>
</div>
</div>

</body>
</html>